<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>351543192730-16gtu2ujcqqgq32fg79v4jie4ahdhaaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351543192730-16gtu2ujcqqgq32fg79v4jie4ahdhaaj</string>
	<key>API_KEY</key>
	<string>AIzaSyDkflm7uO2ISjlchp8NLSA0GRW6RxLG-oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>351543192730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dot.Connect</string>
	<key>PROJECT_ID</key>
	<string>connect-6d5b6</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-6d5b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351543192730:ios:57a6b969d5ccfb78b84323</string>
</dict>
</plist>